// Fonts
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@font-face {
    font-family: "Gotham";
    src: url("/fonts/GothaProReg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/GothaProBol.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

// Variables
@import "variables";

// Bootstrap
@import "~bulma/bulma";

@import "components/topbar";
@import "components/spacing";
@import "components/navbar";
@import "components/hero";
@import "components/card";
@import "components/searchbar";
@import "components/modal";
@import "components/categories";
@import "components/show";

[v-cloak] {
    display: none;
}

.evn-navigation {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

    &.fixed {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }
}

.card a {
    color: inherit;
}

.card-image {
    height: 100%;
}

.card-image img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.login-button {
    background: $orange-dark;
    color: #ffffff;
    border-color: transparent;
    &:hover {
        color: #ffffff;
        border-color: transparent;
    }
}

.footer {
    padding: 3rem 1.5rem;
}

img {
    width: 100% !important;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    &#show {
        background: whitesmoke;
    }
}

.navbar-menu {
    align-items: center;
}

.columns.head-columns:not(:last-child) {
    margin-bottom: 0 !important;
}

.event-head-footer {
    justify-content: space-between;

    @media (min-width: 1024px) {
        ticket-button {
            padding-right: 4rem;
            padding-left: 4rem;
        }
    }
}

.event-head-footer a.button {
    border-radius: 100%;
    border-color: transparent;
    &:hover {
        border-color: #dbdbdb;
    }
}

.wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 960px;

    padding-right: 30px;
    padding-left: 30px;
}

.container.is-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

@media (min-width: 1087px) and (max-width: 1980px) {
    .wrapper {
        margin-right: auto;
        margin-left: auto;

        max-width: 960px;

        padding-right: 30px;
        padding-left: 30px;
    }

    .container.is-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (min-width: 1088px) {
    .container.is-wider {
        max-width: 1200px;
        width: 1200px;
    }
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.primary-color {
    background: $orange-dark;
    color: #ffffff;
    border-color: transparent;
    &:hover {
        color: #ffffff;
        background: darken($color: $orange-dark, $amount: 10);
        border-color: transparent;
    }
    &:active {
        color: #ffffff;
        background: darken($color: $orange-dark, $amount: 20);
        border-color: transparent;
    }
    &:focus {
        color: #ffffff;
        border-color: transparent;
        box-shadow: 0 0 0 0.125em rgba(244, 67, 54, 0.66);
    }
}

.input:focus,
.input.is-focused,
.input:active,
.input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active {
    border-color: $orange-dark;
    border-width: 1px;
    box-shadow: 0 0 0 0.125em rgba(244, 67, 54, 0.66);
}

.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus {
    border-color: $orange-dark;
    box-shadow: 0 0 0 0.125em rgba(244, 67, 54, 0.66);
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: $orange-dark;
    right: 1.125em;
    z-index: 4;
}

.input,
.textarea {
    background-color: #fff;
    color: #363636;
    max-width: 100%;
    width: 100%;
    border-color: #d2d2d2;
}

// .vdatetime-input {
//     width: 100%;
//     border: none;

//     ::placeholder {
//         color: #333 !important;
//     }
// }

.theme-orange .vdatetime-popup__header,
.theme-orange .vdatetime-calendar__month__day--selected > span > span,
.theme-orange .vdatetime-calendar__month__day--selected:hover > span > span {
    background: #f05537;
}

.theme-orange .vdatetime-year-picker__item--selected,
.theme-orange .vdatetime-time-picker__item--selected,
.theme-orange .vdatetime-popup__actions__button {
    color: #f05537;
}

.input.search-bar {
    border: 1px solid;
    border-color: #dbdbdb;
}

.select select {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: 0;
}

.select select.is-hovered,
.select select:hover {
    border-color: #b5b5b5;
}

@media (min-width: 768px) and (max-width: 1980px) {
    .ticker-button {
        font-size: 1.3rem;
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

.justify-content-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.blurred-bg-img {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0px;
    right: 0px;
    height: 35vh;
    -webkit-filter: blur(70px) grayscale(40%);
    filter: blur(70px) grayscale(40%);
    transform: scale(1.5);
    object-fit: cover;

    @media (max-width: 1024px) {
        display: none;
    }
}

.column.is-4.is-close-width {
    width: 32.1333333333% !important;
}

.is-divider,
.is-divider-vertical {
    display: block;
    position: relative;
    border-top: 0.1rem solid #dbdbdb;
    height: 0.1rem;
    margin: 1rem 0;
    text-align: center;
}

.is-divider[data-content]::after,
.is-divider-vertical[data-content]::after {
    background: #fff;
    color: #b5b5b5;
    content: attr(data-content);
    display: inline-block;
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem;
    -webkit-transform: translateY(-1.1rem);
    -ms-transform: translateY(-1.1rem);
    transform: translateY(-1.1rem);
    text-align: center;
}
