// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bulma/bulma';

@import 'components/topbar';
@import 'components/spacing';
@import 'components/navbar';
@import 'components/hero';
@import 'components/card';

.login-button {
    background: $orange-dark;
    color: #ffffff;
    border-color: transparent;
    &:hover {
        color: #ffffff;
        border-color: transparent;
    }
}

img {
    width: 100% !important;
}
