.featured-card {
    border-radius: 11px !important;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-out;

    &:hover {
        transform: translateY(-5px) scale(1.005) translateZ(0);
        cursor: pointer;
    }

    &__meta {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9em;

        &--fee {
            border: 2px solid #dbdbdb;
            padding: 0.1rem 0.95rem;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;

        & span:first-child {
            margin-right: 0.5rem;
        }
    }

    .subtitle {
        color: #4a4a4a;
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.45;
        margin-bottom: 1rem;
    }
}

.card {
}
