.category-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 2em;
    // padding-left: 40px;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}
