.search-bar {
    outline: none;
    border: none;
    // background: whitesmoke;

    &:hover {
        // background: $beige-lighter;
        border: none;
        box-shadow: none;
    }

    &:focus {
        // background: whitesmoke;
        box-shadow: none !important;
        border-color: #f05537 !important;
    }
}
