main#show {
    .show-event {
        figure {
            max-height: 250px;

            @media (min-width: 50em) {
                max-height: unset;
                height: 400px;
            }
        }

        .event-image {
            height: 100%;
            border-radius: 0px;
            object-fit: cover;
            object-position: center center;
        }

        .event-head {
            @media (min-width: 65em) {
                margin-top: 2rem;
            }
        }

        .event-head-inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .left {
                flex: 2;
            }

            .right {
                flex: 1;
            }

            @media (min-width: 50em) {
                flex-direction: row;
            }
        }
    }
}
